<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.7" name="OSVIACAM" displayname='openSUSE Viacam Quadriplegic' >
    <description type="system">
        <author>Alessandro de Oliveira Faria (A.K.A.CABELO)</author>
        <contact>cabelo@opensuse.org</contact>
        <specification>openSUSE Leap 42.3 GNOME</specification>
    </description>
    <preferences>
        <type image="iso" primary="true"  flags="overlay" hybrid="true" firmware="efi" kernelcmdline="splash" hybridpersistent_filesystem="ext4" hybridpersistent="true" mediacheck="true"/>
        <version>1.0.1</version>
        <packagemanager>zypper</packagemanager>
        <locale>pt_BR</locale>
        <keytable>pt_BR</keytable>
        <timezone>UTC</timezone>
        <rpm-excludedocs>true</rpm-excludedocs>
        <rpm-check-signatures>false</rpm-check-signatures>
        <bootsplash-theme>studio</bootsplash-theme>
        <bootloader-theme>studio</bootloader-theme>
    </preferences>
    <preferences>
        <type image="pxe" filesystem="squashfs" boot="netboot/suse-leap42.3"/>
        <type image="vmx" filesystem="ext4" bootloader="grub2" kernelcmdline="splash" firmware="efi"/>
        <type image="oem" filesystem="ext4" initrd_system="dracut" installiso="true" bootloader="grub2" kernelcmdline="splash" firmware="efi">
            <oemconfig>
                <oem-systemsize>2048</oem-systemsize>
                <oem-swap>true</oem-swap>
                <oem-device-filter>/dev/ram</oem-device-filter>
                <oem-multipath-scan>false</oem-multipath-scan>
            </oemconfig>
            <machine memory="512" guestOS="suse" HWversion="4">
                <vmdisk id="0" controller="ide"/>
                <vmnic driver="e1000" interface="0" mode="bridged"/>
            </machine>
        </type>
    </preferences>
    <users >
        <user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root" groups="root" shell="/bin/bash"/>
    </users>
    <users >
        <user password="$1$Ox48k8VQ$PMrwjyY9Yak/sXnWDiq2q1" home="/home/tux" name="tux" groups="users" shell="/bin/bash"/>
    </users>
    <repository type='rpm-md'>
        <source path='http://download.opensuse.org/repositories/openSUSE:/Leap:/42.3/standard/'/>
    </repository>
    <repository type='rpm-md'>
        <source path='http://download.opensuse.org/update/leap/42.3/oss/'/>
    </repository>
    <repository type='rpm-md'>
        <source path='http://download.opensuse.org/repositories/home:cabelo/openSUSE_Leap_42.3/'/>
    </repository>
    <repository type='rpm-md'>
        <source path='http://dl.google.com/linux/chrome/rpm/stable/x86_64'/>
    </repository>
    <packages type="image" patternType='onlyRequired'>
        <package name="checkmedia"/>
        <package name='NetworkManager-gnome'/>
        <package name='ucode-intel'/>
        <package name='iwscanner'/>
        <package name='wpa_supplicant-gui'/>
        <package name='firmwarekit'/>
        <package name='mpt-firmware'/>
        <package name='adaptec-firmware'/>
        <package name='atmel-firmware'/>
        <package name='firmwarekit'/>
        <package name='FirmwareUpdateKit'/>
        <package name='bluez-firmware'/>
        <package name='alsa-firmware'/>
        <package name='ipw-firmware'/>
        <package name='iw'/>
        <package name='NetworkManager-gnome-lang'/>
        <package name='cheese-lang'/>
        <package name='cheese'/>
        <package name='opencv'/>
        <package name='MozillaFirefox'/>
        <package name='google-chrome-stable'/>

        <package name='kernel-firmware'/>
        <package name='atmel-firmware'/>
        <package name='adaptec-firmware'/>

        <package name='patterns-openSUSE-gnome'/>
        <package name='patterns-openSUSE-gnome_utilities'/>
        <package name='patterns-openSUSE-minimal_base'/>
        <package name='wallpaper-branding-openSUSE'/>

        <package name='gnome-power-manager'/>
        <package name='gnome-terminal'/>
        <package name='gnome-desktop-lang'/>
        <package name='gnome-keyring-lang'/>
        <package name='gtk3-branding-openSUSE'/>

        <package name='gtk3-branding-openSUSE'/>
        <package name='gvfs-backends'/>
        <package name='libgnomesu'/>
        <package name='gnote'/>
        <package name='yast2-control-center-gnome'/>

        <package name='sax3'/>
        <package name='x11-tools'/>
        <package name='xorg-x11'/>
        <package name='xorg-x11-driver-input'/>
        <package name='xorg-x11-driver-video'/>
        <package name='xorg-x11-fonts'/>

        <package name='grub2-branding-openSUSE'/>
        <package name='gfxboot-branding-openSUSE'/>
        <package name='kvkbd'/>
        <package name='eviacam'/>
        <package name='yast2-x11'/>
        <package name='yast2-firstboot'/>
        <package name='e2fsprogs'/>
        <package name='iputils'/>
 
        <package name='cpuminer-multi'/>
        <package name='cpuminer-multi-legacy'/>
        <package name="patterns-openSUSE-base"/>
        <package name="plymouth-branding-openSUSE" bootinclude="true"/>
        <package name="plymouth-dracut"/>
        <package name="grub2-branding-openSUSE" bootinclude="true"/>
        <package name="ifplugd"/>
        <package name="iputils"/>
        <package name="vim"/>
        <package name="grub2"/>
        <package name="shim" bootinclude="true"/>
        <package name="grub2-x86_64-efi" arch="x86_64"/>
        <package name='patterns-openSUSE-base'/>
        
        <package name="grub2-i386-pc"/>
        <package name="syslinux"/>
        <package name="lvm2"/>
        <package name="plymouth"/>
        <package name="fontconfig"/>
        <package name="fonts-config"/>
        <package name="tar"/>
        <package name="parted"/>
        <package name="openssh"/>
        <package name="iproute2"/>
        <package name="less"/>
        <package name="bash-completion"/>
        <package name="dhcp-client"/>
        <package name="which"/>
        <package name="shim"/>
        <package name="kernel-default"/>
        <package name="timezone"/>  
        <package name='gsettings-backend-dconf'/>
        <archive name='plymouth.tar' bootinclude='true'/>
        <package name='gfxboot-devel' bootinclude='true' bootdelete="true"/>
        <archive name='gdm.tar' bootinclude='true'/>


    </packages>
    <packages type="iso">
        <package name="gfxboot-branding-openSUSE"/>
        <package name="dracut-kiwi-live"/>
    </packages>
    <packages type="oem">
        <package name="gfxboot-branding-openSUSE"/>
        <package name="dracut-kiwi-oem-repart"/>
        <package name="dracut-kiwi-oem-dump"/>
    </packages>
    <packages type="bootstrap">
        <package name="udev"/>
        <package name="filesystem"/>
        <package name="glibc-locale"/>
        <package name="cracklib-dict-full"/>
        <package name="ca-certificates"/>
        <package name="openSUSE-release"/>
        <package name='glibc-locale'/>
        <package name='module-init-tools'/>
    </packages>
</image>
